#container{     /* header */
    display: grid;
    grid-template-columns: auto 75px 75px 75px;
    text-align: left;
    height: 25px;
}
#container a{   /* INICI LLISTAT CONTACTA */
    text-align: center;
    padding: 5px;
    margin: 5px;
}
#container p{   /* EPEPC */
    padding: 11px;
    margin: 0;
}
nav{            /* IMATGE I COLOR DE TEXT TÍTOL PÀGINA */
    background-image: url("https://cdn.pixabay.com/photo/2018/01/30/22/50/forest-3119826_960_720.jpg");
    color: white;
}
#cos{
    background-color: aliceblue;
}
#top{           /* TOP 3 TITOL */
    text-align: center;
    background-color: black;
    color: white;
}
#llista { /* TOP 3 ITEMS */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.foto{
    grid-area: header;
}
.titol{
    grid-area: title;
    text-align: center;
    background-color: lightgreen;
}
.subtitol{
    grid-area: subtitle;
    text-align: center;
    background-color: aquamarine;
}
.subtitol2{
    grid-area: subtitle2;
    text-align: center;
    background-color: aquamarine;
}
.descripcio{
    grid-area: content;
    text-align: center;
    background-color: mediumaquamarine;
}
.descripcio2{
    grid-area: content2;
    text-align: center;
    background-color: mediumaquamarine;
}
.itemLlista {    /* CADA ITEM DEL TOP 3 */
    display: grid;
    grid-template-columns: 250px 200px;
    grid-template-rows: auto;
    grid-template-areas:
            "header header"
            "title title"
            "subtitle subtitle2"
            "content content2";
    border: solid 2px black;
    margin: 25px;
}
.itemLlista img{
    width: max-content;
}
#biblio{
    background-color: lightgrey;
    padding-left: 25px;
    border: solid black 1px;
}
#llicencia{
    background-color: darkgray;
    padding-left: 25px;
    border: solid black 1px;
}
#segueixnos{
    background-color: dimgray;
    padding-left: 25px;
    border: solid black 1px;
}

@media (max-width: 750px) {
    body{
        margin: 0;
    }
    .itemLlista{    /* CADA ITEM DEL TOP 3 */
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
        border: solid 2px black;
        margin: 0 0 25px 0;
    }
    .itemLlista img {
        width: max-content;
    }
}
